body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    height: 100vh;
}

.sepia-wrapper {
    transition: filter 2s ease-in-out;
    filter: sepia(0%);
}

.cupboard-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.cupboard-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.toy {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.5s ease;
    width: 50px;
    height: 30px;
}

.toy-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.toy--car {
    top: 25px;
    left: 25px;
}

.toy--ship {
    top: 105px;
    left: 80px;
}

.toy--car:hover {
    animation: drive 2s ease-in-out infinite;
}

@keyframes drive {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.toy--ship:hover {
    animation: swing 2s ease-in-out infinite;
}

@keyframes swing {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(30deg);
    }

    50% {
        transform: rotateZ(0);
    }

    75% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(0);
    }

}

.boy {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    left: -20px;
    width: 50px;
    opacity: 0;
    transition: all 2s ease-in-out;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    width: 25px;
    height: 25px;
}

.arrow-img {
    width: 100%;
    height: 100%;
}

#arrow:target~.boy {
    opacity: 0;
    left: -20px;
}

#arrow:target~.sepia-wrapper {
    filter: sepia(70%);
}

#toy-car:target~.boy {
    animation: goToCar 4s linear forwards;
}

@keyframes goToCar {
    0% {
        left: -20px;
        bottom: 0;
        opacity: 0;
    }

    10% {
        left: -10px;
        bottom: 10px;
        opacity: 0.1;
    }

    20% {
        left: 0px;
        bottom: 5px;
        opacity: 0.2;
    }

    30% {
        left: -5px;
        bottom: 0px;
        opacity: 0.3;
    }

    40% {
        left: -10px;
        bottom: 5px;
        opacity: 0.4;
    }

    50% {
        left: 0;
        bottom: 10px;
        opacity: 0.5;
    }

    60% {
        left: 10px;
        bottom: 5px;
        opacity: 0.6;
    }

    70% {
        left: 5px;
        bottom: 0;
        opacity: 0.7;
    }

    80% {
        left: 0px;
        bottom: 5px;
        opacity: 0.8;
    }

    90% {
        left: 10px;
        bottom: 10px;
        opacity: 0.9;
    }


    100% {
        left: 20px;
        bottom: 10px;
        opacity: 1;
    }
}

#toy-ship:target~.boy {
    animation: goToShip 4s linear forwards;
}

@keyframes goToShip {
    0% {
        left: -20px;
        bottom: 0;
        opacity: 0;
    }

    10% {
        left: 0px;
        bottom: 10px;
        opacity: 0.1;
    }

    20% {
        left: 15px;
        bottom: 5px;
        opacity: 0.2;
    }

    30% {
        left: 8px;
        bottom: 0px;
        opacity: 0.3;
    }

    40% {
        left: 0px;
        bottom: 5px;
        opacity: 0.4;
    }

    50% {
        left: 25px;
        bottom: 10px;
        opacity: 0.5;
    }

    60% {
        left: 40px;
        bottom: 5px;
        opacity: 0.6;
    }

    70% {
        left: 33px;
        bottom: 0;
        opacity: 0.7;
    }

    80% {
        left: 25px;
        bottom: 5px;
        opacity: 0.8;
    }

    90% {
        left: 50px;
        bottom: 10px;
        opacity: 0.9;
    }


    100% {
        left: 70px;
        bottom: 10px;
        opacity: 1;
    }
}

.message {
    z-index: 3;
    font-size: 14px;
    font-weight: bold;
    color: white;
    opacity: 0;
    pointer-events: none;
}

.message--shop {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.message--buy {
    position: absolute;
    rotate: -30deg;
    top: 10px;
    left: 10px;
}

#toy-car:hover~.message--shop {
    opacity: 1;
    animation: hideMessageCar 1s ease 2s forwards;
}

#toy-ship:hover~.message--shop {
    opacity: 1;
    animation: hideMessageShip 1s ease 2s forwards;
}

#toy-car:target~.message--buy {
    opacity: 1;
    animation: hideMessageCar 1s ease 2s forwards;
}

#toy-ship:target~.message--buy {
    opacity: 1;
    animation: hideMessageShip 1s ease 2s forwards;
}

@keyframes hideMessageCar {
    to {
        opacity: 0;
    }
}

@keyframes hideMessageShip {
    to {
        opacity: 0;
    }
}